################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MD.CalendarAlert.Core/bin/Debug/netcoreapp2.0
/MD.CalendarAlert.Core/obj/Debug/netcoreapp2.0
/MD.CalendarAlert.Core/obj
/MD.CalendarAlert.Service/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Service.runtimeconfig.json
/MD.CalendarAlert.Service/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Service.runtimeconfig.dev.json
/MD.CalendarAlert.Service/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Service.pdb
/MD.CalendarAlert.Service/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Service.dll
/MD.CalendarAlert.Service/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Service.deps.json
/MD.CalendarAlert.Service/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Core.pdb
/MD.CalendarAlert.Service/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Core.dll
/MD.CalendarAlert.Service/obj
/MD.CalendarAlert.Service.Tests/bin/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/MD.CalendarAlert.Service.Tests/bin/Debug/netcoreapp2.0/xunit.runner.utility.netcoreapp10.dll
/MD.CalendarAlert.Service.Tests/bin/Debug/netcoreapp2.0/xunit.runner.reporters.netcoreapp10.dll
/MD.CalendarAlert.Service.Tests/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Service.Tests.runtimeconfig.json
/MD.CalendarAlert.Service.Tests/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Service.Tests.runtimeconfig.dev.json
/MD.CalendarAlert.Service.Tests/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Service.Tests.pdb
/MD.CalendarAlert.Service.Tests/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Service.Tests.dll
/MD.CalendarAlert.Service.Tests/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Service.Tests.deps.json
/MD.CalendarAlert.Service.Tests/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Core.pdb
/MD.CalendarAlert.Service.Tests/bin/Debug/netcoreapp2.0/MD.CalendarAlert.Core.dll
/MD.CalendarAlert.Service.Tests/obj
/.vs
/MD.CalendarAlert.Service/Properties/PublishProfiles
/MD.CalendarAlert.Core/bin/Release/netcoreapp2.0
/MD.CalendarAlert.Service/bin/Debug
/MD.CalendarAlert.Service/bin/Release/netcoreapp2.0
